@use "../../styles/general" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

#playground {
  padding: $PaddingL;

  @include respond-to(tablet) {
    padding: $PaddingM;
  }

  @include respond-to(mobile) {
    padding: $PaddingS;
  }
}
