@use "../../../styles/general" as *;
@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.footer {
  padding: $padding-L;
  text-align: left;
  background-color: $background-light;

  ::selection {
    background-color: $background-dark;
    color: $gray-scale--1;
  }

  .title {
    justify-content: space-between;
    align-items: end;
    margin: 80px 0 40px;

    h1 {
      color: $gray-scale-10;
    }
  }

  .contact-container {
    display: flex;
    gap: $gap-5;
    margin-bottom: 120px;
  }

  .info-container {
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
    color: $gray-scale--1;

    span {
      color: $gray-scale-10;
      @include uppercase;
    }

    .text-placeholder {
      @include uppercase;
    }

    .social-container {
      display: flex;
      flex-wrap: wrap;

      a:hover {
        color: $gray-scale-10;
      }
    }
  }

  @include respond-to(mobile) {
    padding: $padding-M;

    .info-container {
      flex-wrap: wrap;
      gap: $gap-5;
      align-items: start;
    }

    .contact-container {
      flex-wrap: wrap;
      align-items: start;
    }
  }

  @include respond-to(tablet) {
    .info-container {
      flex-wrap: wrap;
      gap: $gap-5;
    }

    .contact-container {
      flex-wrap: wrap;
      align-items: start;
    }
  }
}
