@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/typography" as *;

.works-section {
  &__container {
    height: 100%;
    width: 100%;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &__slider {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: $Gap-2;

    @include respond-to(mobile) {
      gap: $Gap-1;
    }
  }

  &__slides {
    display: flex;
    align-items: center;
    gap: $Gap-0;
    overflow-x: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    width: 100vw;
    padding-left: 50vw;
    padding-right: 50vw;

    &::-webkit-scrollbar {
      display: none;
    }

    & > * {
      scroll-snap-align: center;
    }

    @include respond-to(mobile) {
      gap: $Gap-0;
    }

    @include respond-to(tablet) {
      gap: $Gap-1;
    }
  }

  &__slide {
    height: 28rem;
    object-fit: cover;
    border-radius: $BorderRadius-4;
    transition: transform 0.3s ease-out, filter 0.3s ease;

    &--active {
      transform: scale(1);
      filter: brightness(1);
    }

    &--adjacent {
      transform: scale(0.8);
      filter: brightness(0.5);
    }

    @include respond-to(mobile) {
      height: 13rem;
    }

    @include respond-to(tablet) {
      height: 20rem;
    }
  }

  &__dots {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: $Gap-1;
  }

  &__dot {
    width: 0.2rem;
    height: 1.6rem;
    background-color: $GrayScale-4;
    transition: all 0.3s ease;
    border-radius: $BorderRadius-4;

    &:hover {
      background-color: $GrayScale-0;
      height: 2rem;
    }

    &--active {
      background-color: $BrandPrimary-6;
      height: 3.2rem;
    }

    @include respond-to(mobile) {
      width: 0.15rem;
      height: 1.2rem;

      &:hover {
        height: 1.6rem;
      }

      &--active {
        height: 2.5rem;
      }
    }

    @include respond-to(tablet) {
      width: 0.18rem;
      height: 1.4rem;

      &:hover {
        height: 1.8rem;
      }

      &--active {
        height: 2.8rem;
      }
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: $Gap-0;

    &__title {
      @include uppercase;
      font-size: 2rem;

      @include respond-to(mobile) {
        font-size: 1.5rem;
      }

      @include respond-to(tablet) {
        font-size: 1.75rem;
      }
    }

    &__services,
    &__year {
      color: $GrayScale-6;

      @include respond-to(mobile) {
        font-size: 0.875rem;
      }

      @include respond-to(tablet) {
        font-size: 1rem;
      }
    }
  }
}
