@use "../../../../styles/general" as *;
@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as *;

.go-top-button {
  position: fixed;
  bottom: 24px;
  right: 24px;
  background: $GrayScale-2;
  border-radius: $BorderRadius-3;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  &:hover {
    background-color: $GrayScale-8;
  }
}
