@use "../../../styles/general" as *;
@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/typography" as *;

.navbar {
  background-color: #0d0d0db2;
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);

  .nav-links-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    gap: $Gap-2;

    .nav-links {
      display: flex;
      gap: $Gap-3;
      margin: 0;
      padding: 0;

      .nav-link {
        position: relative;
        color: $GrayScale-4;
        @include uppercase;
        transition: color 0.3s ease;

        &:hover {
          color: $GrayScale--1;
        }

        &.active {
          color: $GrayScale--1;
        }
      }
    }
  }

  @include respond-to(mobile) {
    padding: $PaddingS;

    .nav-links-wrapper {
      display: none;
    }
  }

  @include respond-to(tablet) {
    .nav-links-wrapper {
      gap: $Gap-1;

      .nav-links {
        gap: $Gap-0;
      }
    }
  }
}
