@use "../styles/variables" as *;
@use "../styles/mixins" as *;
@use "../styles/general" as *;

section {
  color: $GrayScale--1;
  height: 100vh;
}

header,
section {
  padding: $PaddingL;

  @include respond-to(mobile) {
    padding: $PaddingS;
  }

  @include respond-to(tablet) {
    padding: $PaddingM;
  }
}

header {
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0 auto;
  z-index: 1000;
}

footer {
  background-color: $BgLight;
}
