section {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  color: white;
  scroll-snap-align: start;
}

footer {
  background-color: white;
  display: flex;
  justify-content: start;
  align-items: center;
}
