@use "../styles/variables" as *;
@use "../styles/mixins" as *;
@use "../styles/general" as *;

section {
  padding: $PaddingL;
  color: $GrayScale--1;
  height: 100vh;

  @include respond-to(mobile) {
    padding: $PaddingS;
  }

  @include respond-to(tablet) {
    padding: $PaddingM;
  }
}

footer {
  background-color: $BgLight;
}
