@use "@styles/variables" as *;
@use "@styles/mixins" as *;
@use "@styles/typography" as *;

.about-intro {
  width: 100%;
  height: 96dvh;
  padding: $PaddingL;
  background-color: $GrayScale-9;
  display: flex;
  justify-content: center;

  &__container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__bottom,
    &__top {
      color: $GrayScale--1;
      margin: -4rem 0;
      z-index: 2;
      mix-blend-mode: difference;
      max-width: 32%;
    }

    &__top {
      align-self: flex-start;
    }
    &__image {
      align-self: center;
    }

    &__bottom {
      align-self: flex-end;
    }
  }

  // TABLET
  @include respond-to("tablet") {
    padding: $PaddingM;

    &__container {
      &__top,
      &__bottom {
        margin: -3rem 0;
      }

      &__top {
        max-width: 48%;
      }

      &__bottom {
        max-width: 40%;
      }
    }
  }

  // MOBILE
  @include respond-to("mobile") {
    padding: $PaddingS;

    &__container {
      flex-direction: column;
      max-height: 100%;
      align-items: center;
      gap: $Gap-7;

      &__top,
      &__bottom {
        text-align: center;
        align-self: center;
        max-width: 90%;
      }
    }
  }
}
