@use "sass:list";

//===============
//variable
$fontTitle: "Clash Display", sans-serif;
$fontBody: "Satoshi", sans-serif;

$fontRules: (
  title: (
    h1: (
      L: (
        8rem,
        700,
        auto,
      ),
      M: (
        6rem,
        700,
        auto,
      ),
      S: (
        3.25rem,
        700,
        auto,
      ),
    ),
    h2: (
      L: (
        B(6rem, 700, auto),
        SB(6rem, 600, auto),
      ),
      M: (
        B(5rem, 700, auto),
        SB(5rem, 600, auto),
      ),
      S: (
        B(3rem, 700, auto),
        SB(3rem, 600, auto),
      ),
    ),
    h3: (
      L: (
        B(1.75rem, 700, auto),
        SB(1.75rem, 600, auto),
      ),
      M: (
        B(1.375rem, 700, auto),
        SB(1.375rem, 600, auto),
      ),
      S: (
        B(1.125rem, 700, auto),
        SB(1.125rem, 600, auto),
      ),
    ),
    h4: (
      L: (
        B(1.5rem, 700, auto),
        SB(1.5rem, 600, auto),
      ),
      M: (
        B(1.25rem, 700, auto),
        SB(1.25rem, 600, auto),
      ),
      S: (
        B(1rem, 700, auto),
        SB(1rem, 600, auto),
      ),
    ),
    h5: (
      L: (
        1.25rem,
        700,
        auto,
      ),
      M: (
        1.125rem,
        700,
        auto,
      ),
      S: (
        0.875rem,
        700,
        auto,
      ),
    ),
    h6: (
      L: (
        1rem,
        600,
        auto,
      ),
      M: (
        0.875rem,
        600,
        auto,
      ),
      S: (
        0.75rem,
        600,
        auto,
      ),
    ),
  ),

  paragraph: (
    L: (
      MD: (
        1.5rem,
        600,
        auto,
      ),
      R: (
        1.5rem,
        400,
        auto,
      ),
    ),
    M: (
      MD: (
        1.125rem,
        600,
        auto,
      ),
      R: (
        1.125rem,
        400,
        auto,
      ),
    ),
    S: (
      MD: (
        1rem,
        600,
        auto,
      ),
      R: (
        1rem,
        400,
        auto,
      ),
    ),
  ),
);

//===============
// Mixin
@mixin uppercase {
  text-transform: uppercase;
}

@each $category, $subCategories in $fontRules {
  @each $subCategory, $sizes in $subCategories {
    .#{$category}-#{$subCategory} {
      @each $size, $values in $sizes {
        &-#{$size} {
          font-size: list.nth($values, 1);
          font-weight: list.nth($values, 2);
          @if list.length($values) >= 3 {
            line-height: list.nth($values, 3);
          }
        }
      }
    }
  }
}
