@use "sass:list";

//===============
//variable
$fontTitle: "Clash Display", sans-serif;
$fontBody: "Satoshi", sans-serif;

$fontRules: (
  title: (
    heroTitle: (
      L: (
        16.25rem,
        700,
        80%,
      ),
      M: (
        6.375rem,
        700,
        80%,
      ),
      S: (
        3.25rem,
        700,
        80%,
      ),
    ),
    sectionTitle: (
      L: (
        6rem,
        700,
        80%,
      ),
      M: (
        5.25rem,
        700,
        70%,
      ),
      S: (
        3.25rem,
        700,
        70%,
      ),
    ),
    footerTitle: (
      L: (
        8rem,
        700,
        100%,
      ),
      M: (
        6rem,
        700,
        80%,
      ),
      S: (
        4.75rem,
        700,
        70%,
      ),
    ),
    socialLink: (
      L: (
        1.5rem,
        300,
      ),
      M: (
        1rem,
        300,
      ),
      S: (
        0.75rem,
        300,
      ),
    ),
    h1: (
      L: (
        8rem,
        700,
        100%,
      ),
      M: (
        6rem,
        700,
        90%,
      ),
      S: (
        4.5rem,
        700,
        80%,
      ),
    ),
    h2: (
      L: (
        6rem,
        300,
        100%,
      ),
      M: (
        4.5rem,
        300,
        90%,
      ),
      S: (
        3.5rem,
        300,
        80%,
      ),
    ),
    h3: (
      L: (
        4.5rem,
        300,
        100%,
      ),
      M: (
        3.5rem,
        300,
        90%,
      ),
      S: (
        2.75rem,
        300,
        80%,
      ),
    ),
    h4: (
      L: (
        3.5rem,
        500,
        100%,
      ),
      M: (
        2.75rem,
        500,
        90%,
      ),
      S: (
        2.25rem,
        500,
        80%,
      ),
    ),
    h5: (
      L: (
        2.75rem,
        500,
        100%,
      ),
      M: (
        2.25rem,
        500,
        90%,
      ),
      S: (
        1.875rem,
        500,
        80%,
      ),
    ),
    h6: (
      L: (
        2rem,
        500,
        110%,
      ),
      M: (
        1.5rem,
        500,
        120%,
      ),
      S: (
        1.2rem,
        500,
        120%,
      ),
    ),
  ),
  text: (
    subTitle: (
      L: (
        1.275rem,
        500,
      ),
      M: (
        1rem,
        500,
      ),
      S: (
        0.825rem,
        500,
      ),
    ),
    paragraphBig: (
      L: (
        1.2rem,
        400,
      ),
      M: (
        1.125rem,
        400,
      ),
      S: (
        1rem,
        400,
      ),
    ),
    paragraphSmall: (
      L: (
        1.125rem,
        400,
      ),
      M: (
        1rem,
        400,
      ),
      S: (
        0.875rem,
        400,
      ),
    ),
    placeholder: (
      L: (
        1rem,
        500,
      ),
      M: (
        0.875rem,
        500,
      ),
      S: (
        0.875rem,
        500,
      ),
    ),
  ),
);

//===============
// Mixin
@mixin uppercase {
  text-transform: uppercase;
}

@each $category, $subCategories in $fontRules {
  @each $subCategory, $sizes in $subCategories {
    .#{$category}-#{$subCategory} {
      @each $size, $values in $sizes {
        &-#{$size} {
          font-size: list.nth($values, 1);
          font-weight: list.nth($values, 2);
          @if list.length($values) >= 3 {
            line-height: list.nth($values, 3);
          }
        }
      }
    }
  }
}
