// ====================
// Responsive

$BpDesktop: 1025px;
$BpTablet: 1024px;
$BpMobile: 700px;

// ====================
// Background Colors

$BgLight: #ffffff;
$BgDark: #0d0d0d;

// ====================
// BrandPrimary

$BrandPrimary-0: #e6f6f4;
$BrandPrimary-1: #ccece9;
$BrandPrimary-1-5: #b3e3dd;
$BrandPrimary-2: #99d9d2;
$BrandPrimary-3: #80d0c7;
$BrandPrimary-4: #70b6ae;
$BrandPrimary-5: #609c95;
$BrandPrimary-6: #50827c;
$BrandPrimary-7: #406864;
$BrandPrimary-8: #304e4b;
$BrandPrimary-9: #203432;
$BrandPrimary-10: #1a2a28;

// ====================
// GrayScale

$GrayScale--1: #f5f5f5;
$GrayScale-0: #e4e4e4;
$GrayScale-0-5: #d4d4d4;
$GrayScale-1: #c3c3c3;
$GrayScale-1-5: #b3b3b3;
$GrayScale-2: #a2a2a2;
$GrayScale-3: #929292;
$GrayScale-4: #818181;
$GrayScale-5: #707070;
$GrayScale-6: #606060;
$GrayScale-7: #4f4f4f;
$GrayScale-8: #3f3f3f;
$GrayScale-9: #2e2e2e;
$GrayScale-10: #1e1e1e;

// ====================
// BorderRadius

$BorderRadius-0: 0.25rem;
$BorderRadius-1: 0.5rem;
$BorderRadius-2: 0.75rem;
$BorderRadius-3: 1rem;
$BorderRadius-4: 1.25rem;
$BorderRadius-5: 1.5rem;

// ====================
// Padding
$PaddingL: 0 5rem;
$PaddingM: 0 2.5rem;
$PaddingS: 0 1.5rem;

// ====================
// Gap

$Gap-0: 0.25rem;
$Gap-1: 0.5rem;
$Gap-2: 1rem;
$Gap-3: 1.5rem;
$Gap-4: 2rem;
$Gap-5: 2.5rem;
$Gap-6: 3.75rem;
$Gap-7: 5rem;

// ====================
// Buttons
$btn-font-size: (
  S: 0.875rem,
  M: 1.125rem,
  L: 1.5rem,
);

$btn-border-weight: (
  S: 0.1rem solid $GrayScale--1,
  M: 0.125rem solid $GrayScale--1,
  L: 0.15rem solid $GrayScale--1,
);

$btn-padding: (
  S: 0.5rem 1rem,
  M: 1rem 1.5rem,
  L: 1.125rem 2rem,
);

$btn-font-weight: 700;
