@use "./variables" as *;
@use "./mixins" as *;
@use "./typography" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fontBody;
  cursor: none;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow: auto;
  margin: 0 auto;
  max-width: $MaxWidth;
  background-color: $BgLight;

  a {
    text-decoration: none;
    color: inherit;
  }

  li {
    list-style: none;
  }

  .title {
    margin-top: 120px;
    text-align: center;
  }
}
