@use "./variables" as *;
@use "./mixins" as *;
@use "./typography" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}

body {
  overflow-x: hidden;
  font-family: $fontBody;
  margin: 0 auto;
  background-color: $BgDark;
  scrollbar-width: none;

  button {
    border: none;
  }

  a {
    text-decoration: none;
    color: $GrayScale-6;
  }

  li {
    list-style: none;
  }

  // Title
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  a {
    width: fit-content;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $fontTitle;
  }
}
