@use "./variables" as *;
@use "./mixins" as *;
@use "./typography" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fontBody;
  cursor: none;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

html {
  overflow: auto;
  scroll-behavior: smooth;

  body {
    margin: 0 auto;
    max-width: $MaxWidth;
    background-color: $BgLight;

    a {
      text-decoration: none;
      color: inherit;
    }

    li {
      list-style: none;
    }

    .title {
      margin-top: 120px;
      text-align: center;
    }

    .full-width-section {
      margin-left: -$PaddingL;
      margin-right: -$PaddingL;
      width: calc(100% + 2 * #{$PaddingL});

      @include respond-to(tablet) {
        margin-left: -$PaddingM;
        margin-right: -$PaddingM;
        width: calc(100% + 2 * #{$PaddingM});
      }

      @include respond-to(mobile) {
        margin-left: -$PaddingS;
        margin-right: -$PaddingS;
        width: calc(100% + 2 * #{$PaddingS});
      }
    }
  }
}
