@use "../../../styles/general" as *;
@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  background-color: $GrayScale-9;
  color: $GrayScale--1;
  z-index: 800;
  display: flex;
  flex-direction: column;
  align-items: center;

  nav {
    padding: $PaddingM;
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;

    > ul {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: $Gap-2;

      li {
        display: flex;
        align-items: center;
        gap: $Gap-3;
      }
    }
  }

  @include respond-to(mobile) {
    nav {
      padding: $PaddingS;
    }
  }
}
