@use "../../styles/general" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.progetto {
  height: 100dvh;
  overflow: hidden;
  display: flex;
  gap: $Gap-8;

  .base {
    height: 100dvh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  @include respond-to(tablet) {
    padding: $PaddingM;
  }

  @include respond-to(mobile) {
    padding: $PaddingS;
  }
}
