@use "../../../styles/general" as *;
@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/typography" as *;

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: $padding-L;
  margin: 0 auto;
  z-index: 1000;

  background-color: #0d0d0d31;
  backdrop-filter: blur(24px);
  display: flex;
  align-items: center;
  justify-content: space-between;

  .nav-header {
    display: flex;
    align-items: center;
    gap: $gap-3;

    .divider {
      height: 16px;
      width: 1px;
      background-color: $gray-scale-6;
    }
  }

  .nav-links {
    display: flex;
    gap: $gap-3;
    margin: 0;
    padding: 0;

    .nav-link {
      font-family: $font-title;
      position: relative;
      color: $gray-scale-4;

      &:hover {
        color: $gray-scale--1;
      }

      &.active {
        color: $gray-scale--1;
      }

      &-page.active::after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        width: 4px;
        height: 4px;
        background-color: $gray-scale--1;
        border-radius: 50%;
        transition: all 0.3s ease;
      }
    }
  }
  @include respond-to(mobile) {
    padding: $padding-M;

    .nav-links,
    .divider {
      display: none;
    }
  }
}
