@use "@styles/variables" as *;
@use "@styles/mixins" as *;
@use "@styles/typography" as *;

.contatti {
  height: 100dvh;
  max-width: 100dvw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__main-content {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding-bottom: 2rem;

    .text {
      height: 80%;
      display: flex;
      flex-direction: column;
      gap: $Gap-4;

      .text-content {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        color: $GrayScale-3;
        gap: $Gap-6;

        ul {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: end;
          gap: $Gap-1;

          .link-element {
            text-align: end;
          }
        }
      }
    }
  }

  @include respond-to(tablet) {
    padding-bottom: 2rem;

    &__main-content {
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      gap: $Gap-4;

      .text {
        height: fit-content;
        width: 100%;
      }
    }
  }

  @include respond-to(mobile) {
    padding-bottom: 2rem;

    &__main-content {
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      gap: $Gap-4;

      .text {
        height: fit-content;
        width: 100%;
      }
    }
  }
}
