@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/typography" as *;

.aboutPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $Gap-9;
}
