@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/typography" as *;

.playground-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 24px;
  padding: $PaddingL;
}

.playground-item {
  cursor: pointer;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.03);
  }

  img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }

  .playground-title {
    padding: 12px;
    background: $GrayScale-9;
  }
}
