@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/general" as *;

.home {
  height: 100dvh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: $PaddingL;

  h1 {
    letter-spacing: -0.03em;
    span {
      letter-spacing: -0.03em;
    }
  }

  &__main {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $Gap-8;

    .bottom {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .block-p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: $Gap-5;
        text-align: center;
        max-width: 24rem;
      }
    }
  }

  @include respond-to(tablet) {
    padding: $PaddingM;
    gap: $Gap-5;

    &__main {
      height: 100%;
      flex-direction: column;
      justify-content: space-around;
      gap: $Gap-4;

      .bottom {
        height: 100%;
        flex-direction: column;

        .block-p {
          gap: $Gap-4;
          max-width: 40rem;
        }
      }
      .bottom > .inline-icon {
        order: 3;
      }
    }
  }
  @include respond-to(mobile) {
    padding: $PaddingS;
    gap: $Gap-3;

    &__main {
      height: 100%;
      flex-direction: column;
      gap: $Gap-2;

      .bottom {
        height: 100%;
        flex-direction: column;
        justify-content: center;
        gap: $Gap-3;

        > .inline-icon {
          margin-top: 1rem;
        }

        .block-p {
          gap: $Gap-4;
        }
      }
      .bottom > .inline-icon {
        order: 3;
      }
    }
  }
}
