// Fonts Family
$font-title: "Chillax", sans-serif;
$font-body: "Satoshi", sans-serif;

// Titles
$h1-font-size: 4rem;
$h1-line-height: 120%;
$h1-font-weight: 600;

$h2-font-size: 3.5rem;
$h2-line-height: 110%;
$h2-font-weight: 600;

$h3-font-size: 2.7rem;
$h3-line-height: 110%;
$h3-font-weight: 600;

$h4-font-size: 2.4rem;
$h4-line-height: 120%;
$h4-font-weight: 500;

$h5-font-size: 2rem;
$h5-line-height: 120%;
$h5-font-weight: 500;

$h6-font-size: 1.8rem;
$h6-line-height: auto;
$h6-font-weight: 500;

// Subtitles

$subtitle-s-font-size: 1.2rem;
$subtitle-s-line-height: auto;
$subtitle-s-font-weight: 500;

$subtitle-m-font-size: 1.6rem;
$subtitle-m-line-height: auto;
$subtitle-m-font-weight: 500;

$subtitle-l-font-size: 2rem;
$subtitle-l-line-height: auto;
$subtitle-l-font-weight: 500;

// Text
$paragraph-s-font-size: 1rem;
$paragraph-s-line-height: auto;
$paragraph-s-font-weight: 400;

$paragraph-m-font-size: 1.2rem;
$paragraph-m-line-height: auto;
$paragraph-m-font-weight: 400;

$paragraph-l-font-size: 1.4rem;
$paragraph-l-line-height: auto;
$paragraph-l-font-weight: 400;

// Placeholder
$placeholder-font-size: 1.025rem;
$placeholder-line-height: auto;
$placeholder-font-weight: 500;
