@use "../../../styles/general" as *;
@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/typography" as *;

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  color: $GrayScale-10;

  .contact-container {
    display: flex;
    gap: $Gap-2;
  }

  .info-container {
    display: flex;
    justify-content: space-between;

    .social-container {
      display: flex;
      flex-direction: column;
      gap: $Gap-1;

      .social {
        display: flex;
        gap: $Gap-2;
        @include uppercase;

        a:hover {
          color: $GrayScale-8;
        }
      }
    }

    span {
      color: $GrayScale-10;
    }
  }

  @include respond-to(mobile) {
    .contact-container {
      flex-wrap: wrap;
      align-items: start;
    }

    .info-container {
      flex-wrap: wrap;
      gap: $Gap-2;
      align-items: start;
      .social-container {
        .social {
          gap: $Gap-0;
        }
      }
    }
  }

  @include respond-to(tablet) {
    .contact-container {
      flex-wrap: wrap;
      align-items: start;
    }

    .info-container {
      flex-wrap: wrap;
      gap: $Gap-2;
    }
  }
}
