@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as *;
@use "../../../../styles/typography" as *;

.about-main {
  width: 100%;
  padding: $PaddingL;
  background-color: white;

  &__skills {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: end;
    gap: $Gap-2;
    margin-bottom: 6rem;

    p {
      width: 32%;
    }
  }

  &__philosophy {
    display: flex;
    flex-direction: column;
    gap: $Gap-7;
    margin-bottom: 6rem;

    .about-main__step {
      max-width: 600px;

      .about-main__title {
        margin-bottom: 1rem;
      }
    }
  }

  &__clients {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-end;
    gap: $Gap-2;
    margin-bottom: 6rem;

    &-subtitle {
      max-width: 32%;
    }
  }

  // TABLET
  @include respond-to("tablet") {
    padding: $PaddingM;
  }

  // MOBILE
  @include respond-to("mobile") {
    padding: $PaddingS;

    &__skills {
      p {
        width: 80%;
      }
    }
    &__clients {
      &-subtitle {
        max-width: 60%;
      }
    }
  }
}
