@use "../../styles/general" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

#contatti {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: $PaddingL;

  @include respond-to(tablet) {
    padding: $PaddingM;
  }

  @include respond-to(mobile) {
    padding: $PaddingS;
  }
}
