@use "../../styles/general" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.contatti {
  height: 100dvh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: $PaddingL;
  gap: $Gap-6;

  &__main-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .text {
      height: 80%;
      display: flex;
      flex-direction: column;
      gap: $Gap-4;

      .text-content {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        color: $GrayScale-3;

        ul {
          color: $GrayScale-7;
          width: 60%;

          li :hover {
            color: $GrayScale-10;
          }
        }
      }
    }
  }

  @include respond-to(tablet) {
    padding: $PaddingM;

    &__main-content {
      flex-direction: column;
      justify-content: space-between;

      .text {
        width: 100%;
        flex-direction: column;
        justify-content: center;

        .text-content {
          ul {
            width: auto;
            text-align: end;
          }
        }
      }
    }
  }

  @include respond-to(mobile) {
    padding: $PaddingS;

    &__main-content {
      flex-direction: column;
      justify-content: space-between;

      .text {
        width: 100%;
        flex-direction: column;
        justify-content: center;

        .text-content {
          ul {
            width: auto;
            text-align: end;
          }
        }
      }
    }
  }
}
