@use "@styles/variables" as *;
@use "@styles/mixins" as *;
@use "@styles/typography" as *;

.playground {
  padding: $PaddingL;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: $Gap-9;

  .content {
    width: 100%;
  }

  @include respond-to(tablet) {
    padding: $PaddingM;
    gap: $Gap-8;
  }

  @include respond-to(mobile) {
    padding: $PaddingS;
    gap: $Gap-8;
  }
}
