@use "@styles/variables" as *;
@use "@styles/mixins" as *;
@use "@styles/typography" as *;

.about-main {
  width: 100%;
  padding: $PaddingL;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: $Gap-8;

  &__skills {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: end;
    gap: $Gap-2;

    span {
      width: 40%;
    }
  }

  &__philosophy {
    display: flex;
    flex-direction: column;
    gap: $Gap-8;

    .about-main__step {
      max-width: 600px;

      h3 {
        margin-bottom: 1rem;
      }
    }
  }

  &__clients {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-end;
    gap: $Gap-2;

    span {
      max-width: 32%;
    }
  }

  // TABLET
  @include respond-to("tablet") {
    padding: $PaddingM;

    &__philosophy {
      gap: $Gap-7;
    }

    &__skills {
      span {
        width: 40%;
      }
    }
    &__clients {
      span {
        max-width: 40%;
      }
    }
  }

  // MOBILE
  @include respond-to("mobile") {
    padding: $PaddingS;

    &__philosophy {
      gap: $Gap-7;
    }

    &__skills {
      span {
        width: 80%;
      }
    }
    &__clients {
      span {
        max-width: 80%;
      }
    }
  }
}
