@use "@styles/variables" as *;
@use "@styles/mixins" as *;
@use "@styles/typography" as *;

#not-found {
  height: 100dvh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
