@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as *;
@use "../../../../styles/typography" as *;

.about-intro {
  width: 100%;
  height: 96dvh;
  background-color: $GrayScale-9;
  padding: $PaddingL;
  padding-top: 8rem;
  padding-bottom: 8rem;

  display: flex;
  justify-content: center;

  &__container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__bottom,
    &__top {
      color: $GrayScale--1;
      margin: -2rem 0;
    }

    &__top {
      align-self: flex-start;
      max-width: 40%;
    }
    &__image {
      align-self: center;
    }

    &__bottom {
      align-self: flex-end;
      max-width: 32%;
    }
  }

  // TABLET
  @include respond-to("tablet") {
    padding: $PaddingM;
    padding-top: 6rem;
    padding-bottom: 6rem;

    &__container {
      &__top,
      &__bottom {
        z-index: 200;
        margin: -2rem 0;
        max-width: 420px;
      }
    }
  }

  // MOBILE
  @include respond-to("mobile") {
    padding: $PaddingS;
    padding-top: 6rem;
    padding-bottom: 6rem;

    &__container {
      flex-direction: column;
      max-height: 100%;
      align-items: center;
      justify-content: center;
      gap: $Gap-3;

      &__top,
      &__bottom {
        text-align: center;
        align-self: center;
        max-width: 80%;
      }
    }
  }
}
