@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/general" as *;

.preloader {
  position: fixed;
  inset: 0;
  background-color: $BgDark;
  color: $GrayScale--1;
  z-index: 1000;
  overflow: hidden;

  &__text {
    position: absolute;
    top: 8rem;
    left: 2rem;
  }

  &__percent {
    position: absolute;
    top: 90vh;
    right: 2rem;

    @include respond-to(mobile) {
      top: 96vh;
    }
  }
}
