@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/typography" as *;

.lavori {
  height: 100dvh;
  max-width: 100dvw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .title {
      width: 60%;
    }

    > span {
      width: 20%;
      text-align: center;
      margin-top: 120px;
      vertical-align: middle;
    }
  }

  @include respond-to(tablet) {
    height: 100%;
    gap: $Gap-8;

    .icon-arrow {
      width: 100%;
      display: flex;
      justify-content: end;
    }

    &__head {
      flex-direction: column;
      gap: $Gap-2;

      > span {
        width: 100%;
        order: 1;
        align-self: start;
        text-align: left;
      }
    }
  }

  @include respond-to(mobile) {
    height: 100%;
    gap: $Gap-8;

    .icon-arrow {
      width: 100%;
      display: flex;
      justify-content: end;
    }

    &__head {
      flex-direction: column;
      gap: $Gap-2;

      > span {
        width: 100%;
        order: 1;
        align-self: start;
        text-align: left;
      }
    }
  }
}
