@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/typography" as *;

.faq-section {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  width: 80%;
  padding: 4rem 0;
  margin: 1rem auto;

  &__list {
    width: 100%;
    margin-bottom: 1rem;
  }

  &__item {
    border-bottom: 1px solid $GrayScale-8;
    margin-bottom: 0.5rem;
  }

  &__question {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: $Gap-0;
    width: 100%;
    padding: 1rem 0;
    background: none;
    color: $GrayScale--1;
    text-align: left;
    transition: background-color 0.2s ease;

    &:hover .faq-section__icon {
      transform: rotate(180deg);
    }

    &.active .faq-section__icon {
      transform: rotate(180deg);
    }
  }

  &__icon {
    transition: transform 0.3s ease;
  }

  &__answer {
    overflow: hidden;
    padding: 0 0.5rem;
    opacity: 0;
    transition: opacity 0.3s ease;

    &--open {
      opacity: 1;
    }
  }

  &__text {
    margin: 1rem 0;
    line-height: 1.1;
    color: $GrayScale-4;
  }
}
