@use "@styles/variables" as *;
@use "@styles/mixins" as *;
@use "@styles/typography" as *;

.project-container {
  display: flex;
  width: 100%;
  gap: $Gap-8;

  // Scroll
  overflow-x: auto;
  overscroll-behavior-x: contain;
  overscroll-behavior-y: auto;

  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }

  .year-block {
    width: 100%;
    display: flex;
    gap: $Gap-3;

    .projects {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: flex-start;
      gap: $Gap-3;

      .project-img {
        width: 100%;
        background-color: $GrayScale--1;

        .inline-image {
          will-change: clip-path, transform;
          height: auto;
          display: block;
          object-fit: contain;
        }
      }
    }
  }

  @include respond-to(tablet) {
    padding: $PaddingM;
    flex-direction: column;
    width: 100dvw;
    overflow-x: hidden;

    overscroll-behavior: contain;
    touch-action: pan-y;

    .year-block {
      justify-content: space-between;
      align-items: flex-start;

      .projects {
        align-items: flex-end;
        flex-direction: column;
        gap: $Gap-3;
      }
    }
  }
  @include respond-to(mobile) {
    padding: $PaddingS;
    flex-direction: column;
    width: 100dvw;
    overflow-x: hidden;

    overscroll-behavior: contain;
    touch-action: pan-y;

    .year-block {
      justify-content: space-between;
      align-items: flex-start;

      .projects {
        align-items: flex-end;
        flex-direction: column;
        gap: $Gap-3;
      }
    }
  }
}
