@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/general" as *;

.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: $PaddingL;

  h1 {
    letter-spacing: -0.03em;
    span {
      letter-spacing: -0.03em;
    }
  }

  &__bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $Gap-3;

    .bottom {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .block-p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: $Gap-5;
        text-align: center;
        max-width: 24rem;
      }
    }
  }

  @include respond-to(tablet) {
    padding: $PaddingM;
    gap: $Gap-3;

    &__bottom {
      height: 80%;
      display: flex;
      flex-direction: column;

      .bottom {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .block-p {
          gap: $Gap-2;
          max-width: 40rem;
        }

        .no-icon {
          .inline-icon {
            display: none;
          }
        }
      }
      .bottom > .inline-icon {
        order: 3;
      }
    }
  }
  @include respond-to(mobile) {
    padding: $PaddingS;
    gap: $Gap-2;

    &__bottom {
      height: 72%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .bottom {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .block-p {
          gap: $Gap-2;
        }

        .no-icon {
          .inline-icon {
            display: none;
          }
        }
      }
      .bottom > .inline-icon {
        order: 3;
      }
    }
  }
}
