@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/general" as *;

.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: $PaddingL;

  h1 {
    letter-spacing: -0.03em;
    span {
      letter-spacing: -0.03em;
    }
  }

  &__bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .block-p {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: $Gap-5;
      text-align: center;
      max-width: 24rem;
    }
  }

  &__tagline {
    padding-bottom: 1rem;
  }

  @include respond-to(tablet) {
    padding: $PaddingM;

    &__bottom {
      height: 60%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .block-p {
        gap: $Gap-2;
        max-width: 40rem;
      }

      .no-icon {
        .inline-icon {
          display: none;
        }
      }
    }

    &__bottom > .inline-icon {
      order: 3;
    }
  }
  @include respond-to(mobile) {
    padding: $PaddingS;

    &__bottom {
      height: 60%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      .block-p {
        gap: $Gap-2;
      }

      .no-icon {
        .inline-icon {
          display: none;
        }
      }
    }

    &__bottom > .inline-icon {
      order: 3;
    }
  }
}
