@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/general" as *;

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: $PaddingL;

  h1 {
    letter-spacing: -0.03em;
    span {
      letter-spacing: -0.03em;
    }
  }

  .bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .block-p {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: $Gap-6;
      text-align: center;
      max-width: 23.75rem;
    }
  }

  .tagline {
    padding-bottom: 1rem;
  }

  @include respond-to(tablet) {
    padding: $PaddingM;

    .bottom {
      height: 60%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .block-p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: $Gap-2;
        text-align: center;
        max-width: 40rem;
      }

      .no-icon {
        .inline-icon {
          display: none;
        }
      }
    }

    .bottom > .inline-icon {
      order: 3;
    }
  }
  @include respond-to(mobile) {
    padding: $PaddingS;

    .bottom {
      height: 60%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      .block-p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: $Gap-3;
        text-align: center;
      }

      .no-icon {
        .inline-icon {
          display: none;
        }
      }
    }

    .bottom > .inline-icon {
      order: 3;
    }
  }
}
