@use "@styles/variables" as *;
@use "@styles/mixins" as *;

.project-gallery {
  column-count: 4;
  gap: $Gap-2;

  &__container {
    break-inside: avoid;
    position: relative;

    .image-wrapper {
      background-color: $GrayScale--1;
      width: 100%;
      height: auto;
      overflow: hidden;

      img {
        display: block;
        will-change: clip-path, transform;
        position: relative;
        width: 100%;
        z-index: 1;
        object-fit: cover;
      }
    }

    .info {
      margin: 1.2rem 0 4rem;
      color: $GrayScale-10;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .text {
        text-align: end;
        display: flex;
        flex-direction: column;
        align-items: end;
      }
    }
  }

  @include respond-to(tablet) {
    column-count: 3;

    .info {
      margin: 1rem 0 2rem;
      align-items: flex-start;
    }
  }

  @include respond-to(mobile) {
    column-count: 2;
    gap: $Gap-1;

    .info {
      margin: 1rem 0 1.5rem;
      align-items: flex-start;
    }
  }
}
