@use "@styles/variables" as *;
@use "@styles/mixins" as *;
@use "@styles/typography" as *;

.project-gallery {
  column-count: 4;
  gap: $Gap-2;

  &__items {
    display: block;
    break-inside: avoid;
    margin-bottom: $Gap-2;
    opacity: 0;
    transform: scale(0.6) translateY(40px);
    filter: blur(4px);
    transition: all 0.4s ease-out;

    &.is-visible {
      opacity: 1;
      transform: scale(1) translateY(0);
      filter: blur(0);
    }
    img {
      width: 100%;
      height: auto;
      display: block;
      object-fit: cover;
    }
  }

  @include respond-to(tablet) {
    column-count: 3;
    gap: $Gap-2;
  }
  @include respond-to(mobile) {
    column-count: 2;
    gap: $Gap-1;

    &__items {
      margin-bottom: $Gap-1;
    }
  }
}
