@use "@styles/variables" as *;
@use "@styles/mixins" as *;

.project-gallery {
  column-count: 4;
  gap: $Gap-2;

  &__item {
    break-inside: avoid;
    margin-bottom: $Gap-2;
    position: relative;
  }

  .image-wrapper {
    background-color: $GrayScale--1;
    width: 100%;
    height: auto;
    overflow: hidden;

    img {
      display: block;
      will-change: clip-path, transform;
      position: relative;
      width: 100%;
      z-index: 1;
      object-fit: cover;
    }
  }

  &__text {
    margin-top: 0.5rem;
    color: $GrayScale-4;

    .year {
      font-weight: 500;
      margin-bottom: 0.2rem;
    }

    .category {
      font-style: italic;
    }
  }

  @include respond-to(tablet) {
    column-count: 3;
  }

  @include respond-to(mobile) {
    column-count: 2;
    gap: $Gap-1;

    &__item {
      margin-bottom: $Gap-1;
    }
  }
}
