@use "../../../styles/general" as *;
@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.link {
  text-align: center;
  position: relative;
  width: fit-content;

  .link-wrapper {
    display: inline-block;
    position: relative;
    color: $GrayScale-7;

    &:hover {
      color: $GrayScale-10;
    }

    .underline {
      position: absolute;
      bottom: -0.2rem;
      left: 0;
      height: 1.6px;
      width: 0;
      background-color: $GrayScale-10;
    }

    .icon {
      position: absolute;
      top: 28%;
      right: -2rem;
      transform: translateY(-50%) scale(4);
      opacity: 0;
    }
  }
}
