@use "../../../styles/general" as *;
@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/typography" as *;

$heroImageSize: (
  L: 80px,
  M: 60px,
  S: 40px,
);

.hero-section {
  height: 100vh;
  background-color: $BgDark;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;

  .hero-header {
    z-index: 1;

    .text-subTitle-L,
    .text-subTitle-M,
    .text-subTitle-S {
      color: $GrayScale-2;
      margin-bottom: 0.2rem;
    }

    .title-heroTitle-L,
    .title-heroTitle-M,
    .title-heroTitle-S {
      font-size: clamp(2rem, 12vw, 15rem);
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .hero-icons {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 0 2rem;

    @include respond-to(mobile) {
      padding: 0;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;
    }
  }

  .hero-scroll {
    position: absolute;
    bottom: 2rem;
    img {
      width: 1.5rem;
      height: auto;
    }
  }
}
