@use "../../../styles/general" as *;
@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/typography" as *;

$heroImageSize: (
  L: 80px,
  M: 60px,
  S: 40px,
);

.hero-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $Gap-7;

  .hero-header {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $Gap-5;

    .sommary {
      @include uppercase;
      color: $BrandPrimary-4;
      margin-bottom: 0.2rem;
    }

    .title {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  .hero-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: $Gap-6;

    @include respond-to(mobile) {
      gap: $Gap-4;
      justify-content: center;
      gap: 2rem;
    }
  }
}
