@use "../../../styles/general" as *;
@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/typography" as *;

.hero-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $Gap-7;
  position: relative;

  .bg-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0.025;
    z-index: -1;
    transform: translate(-50%, -50%);

    @include respond-to(mobile) {
      transform: translate(-50%, -50%) rotate(-90deg);
    }

    svg {
      width: 72vw;
      height: auto;
      fill: $GrayScale-2;

      @include respond-to(mobile) {
        width: auto;
        height: 60vw;
      }
    }
  }

  .social-icons {
    position: absolute;
    top: 50% translateY(-50%);
    left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $Gap-3;

    @include respond-to(mobile) {
      display: none;
    }

    @include respond-to(tablet) {
      left: 40px;
    }

    .inline-icon {
      svg {
        fill: $GrayScale-2;
      }
    }

    & a :hover {
      svg {
        fill: $GrayScale--1;
      }
    }
  }

  .hero-header {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $Gap-5;

    .sommary {
      @include uppercase;
      color: $BrandPrimary-4;
      margin-bottom: 0.2rem;
    }

    .title {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  .hero-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: $Gap-6;

    @include respond-to(mobile) {
      gap: $Gap-2;
      justify-content: center;
    }
  }
}
