@use "../../../styles/general" as *;
@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.works-section {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: $BgDark;
  color: $GrayScale--1;
  overflow: hidden;

  .works-gallery {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    .work-image {
      overflow: hidden;
      border-radius: $BorderRadius-4;
      transition: transform 0.3s ease;

      &.image-S {
        width: 200px;
        height: 120px;
      }

      &.image-M {
        width: 300px;
        height: 180px;
      }

      &.image-L {
        width: 800px;
        height: 480px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: $BorderRadius-5;
      }
    }

    .prev-btn,
    .next-btn {
      background: none;
      border: none;
      color: $GrayScale--1;
      z-index: 5;

      svg {
        width: 30px;
        height: 30px;
      }
    }

    .prev-btn {
      color: $GrayScale--1;
      left: -40px;
    }

    .next-btn {
      color: $GrayScale--1;
      right: -40px;
    }
  }

  .works-slider {
    display: flex;
    gap: 0.5rem;

    .slider-dot {
      width: 3px;
      height: 32px;
      background-color: $GrayScale-8;
      transition: background-color 0.3s ease;
      margin: 8px;

      &.active {
        height: 80px;
        background-color: $BrandPrimary-6;
      }
    }
  }

  .work-info {
    margin-top: 1rem;

    .work-title,
    .work-type,
    .work-year {
      margin: 0.2rem 0;
    }

    .work-title {
      font-size: 1.75rem;
      font-weight: 700;
    }

    .work-type {
      font-size: 1.25rem;
      color: $GrayScale-4;
    }

    .work-year {
      font-size: 1rem;
      color: $GrayScale-5;
    }
  }
}
