@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as *;
@use "../../../../styles/typography" as *;

.footer {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $Gap-4;
  background-color: $GrayScale-9;
  color: $GrayScale--1;

  &__CTA {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: $Gap-3;

    a:hover {
      color: $GrayScale-1;
    }
  }
}
